fastapi==0.115.12
networkx==3.4.2
openai==1.82.0
pydantic==2.11.5
python-dotenv==1.1.0
Requests==2.32.3
tree_sitter==0.24.0
tree_sitter_c==0.23.5
tree_sitter_cpp==0.23.4
tree_sitter_java==0.23.5
tree_sitter_javascript==0.23.1
tree_sitter_python==0.23.6
tree_sitter_typescript==0.23.2
